*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 2280px;
    margin:0 auto;
    padding:0 2%;
}




header{
    padding:20px 0 ;
}

    

.logo{
    width: 50%;
    
}

.menu{
    padding top: 30%;
    width: 50%;
    text-align: right;
}

.menu a{
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;

}

button {
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    border-radius: 12px;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-bottom-right-radius: 0cqb;
  }

